---
import { ACTORS } from "../consts/actors";

import CardActors from "./cardActors.astro";

console.log("actors", ACTORS);
---

<section class="flex flex-col w-full gap-6 relative">
  <h3 class="bg-red-300 text-center">Celebrities</h3>
  <div
    id="carousel"
    class="flex flex-row w-full min-h-40 overflow-x-scroll scroll-smooth scrollbar-none hide-scroll"
  >
    {ACTORS.map((item: any) => <CardActors image={item.image} />)}
  </div>
  <div
    id="prev"
    class="absolute top-1/2 left-2 -translate-y-0 w-12 h-12 bg-neutral-400/45 flex items-center justify-center rounded-full cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-move-left-icon lucide-move-left"
      ><path d="M6 8L2 12L6 16"></path><path d="M2 12H22"></path></svg
    >
  </div>
  <div
    id="next"
    class="absolute top-1/2 right-2 -translate-y-0 w-12 h-12 bg-neutral-400/45 flex items-center justify-center rounded-full cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-move-right-icon lucide-move-right"
      ><path d="M18 8L22 12L18 16"></path><path d="M2 12H22"></path></svg
    >
  </div>
</section>

<script>
  const carousel = document.getElementById("carousel");
  const prev = document.getElementById("prev");
  const next = document.getElementById("next");

  const scrollAmount = 220;

  next?.addEventListener("click", () => {
    carousel?.scrollBy({ left: scrollAmount, behavior: "smooth" });
  });

  prev?.addEventListener("click", () => {
    carousel?.scrollBy({ left: -scrollAmount, behavior: "smooth" });
  });
</script>

<style>
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
</style>
