---
import { MOVIES } from "../consts/movies";
import type { Movies } from "../types/movies";
import NextMovie from "./NextMovie.astro";

const dataMovies = Array(MOVIES.find((movie) => movie.rating == 7.8));

console.log("dataMovie", dataMovies);
---

<div class="flex flex-col flex-wrap w-full min-h-80 bg-neutral-900 justify-center p-6 items-center gap-6">
  <div class="flex flex-row w-full h-[40rem] object-top object-cover relative rounded-2xl">
    {
      dataMovies.map((item: any) => (
        <picture class="w-full h-full items-center justify-center mask-l-from-40% contrast-100 mask-b-from-1">
          <img class="w-full h-full object-cover object-right-top rounded" src={item.poster} alt="movie" />
        </picture>
        <div class="flex flex-col w-100 h-80 mt-5 absolute text-white text-xl text-center font-bold justify-center">
          <span>{item.title}</span>
        </div>
      ))
    }
  </div>
  
  <NextMovie/>
</div>
