<header
  class="bg-neutral-900 w-full h-30 flex flex-row items-center justify-around"
>
  <div class="bg-amber-700 w-20 h-20"></div>
  <nav class="bg-amber-300 w-80 h-10">
    <ul>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </nav>
</header>
