<header
  class="bg-neutral-900 z-10 fixed w-full h-30 flex flex-row items-center justify-around"
>
  <div class="bg-amber-700 w-40 h-20 text-center">
    <p>Movies Astro</p>
  </div>
  <nav class="w-80 h-10">
    <ul class="flex flex-row p-0 pt-2 gap-2 items-center justify-center">
      <li>
        <a
          class="border-b border-white active:border-neutral-600 text-white w-30 text-center p-1"
          href="#">Home</a
        >
      </li>
      <li>
        <a
          class="border-b border-white text-white active:border-neutral-600 w-30 text-center p-1"
          href="#">Actors</a
        >
      </li>
    </ul>
  </nav>
</header>
